:root {
  --navy-blue: #2e2f42;
  --navyblue-modal: rgba(46, 47, 66, 0.4);
  --iris: #4d5ae5;
  --white: #ffffff;
  --cloud: #f4f4fd;
  --slate: #434455;
  --light-slate: #8e8f99;
  --ocean: #404bbf;
  --cornflower: #e7e9fc;
  --daily: #fcfcfc;
  --green: #31d0aa;
  --transition-settings: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
.body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.tech-item img {
  display: block;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  list-style-type: none;
  padding-left: 0;
}
.social-icons {
  fill: currentColor;
}
img {
  display: block;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* common style */

.container .text-section {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
    padding: 0 15px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
  }
}

/* Main dark section */

.dark-section {
  max-width: 428px;
  padding: 112px 0;
  margin: 0 auto;
  text-align: center;

  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Dark-bg\ 1px\ app.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.ttl_one {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 320px;
  margin: 0 auto 72px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  cursor: pointer;
  border: none;
  color: #ffffff;
  background-color: #4d5ae5;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .dark-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg\ 2px\ app.jpg);
  }
}
@media screen and (min-width: 768px) {
  .dark-section {
    max-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg\ 1px\ tablet.jpg);
  }
}
.ttl_one {
  max-width: 496px;
  margin: 0 auto 36px;
  font-size: 56px;
  line-height: 1.07;
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .dark-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg\ 2\ px\ tablet.jpg);
  }
}

@media screen and (min-width: 1158px) {
  .dark-section {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office\ 1px\ desktop.jpg);
  }
}
.ttl_one {
  margin: 0 auto 48px;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .dark-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office\ 2px\ desktop.jpg);
  }
}

/* Second section */

.text-section {
  padding: 96px 0;
}
.text-article {
  max-width: 396px;
  align-items: center;
}
.text-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  background-color: var(--cloud);
  border-radius: 4px;
  margin-bottom: 8px;
}
.ttl {
  font-size: 36px;
  line-height: 1.1;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.text {
  text-align: start;
  font-weight: 500;
}

@media screen and (max-width: 767.99px) {
  .text-article:not(:last-child) {
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 768px) {
  .text-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    align-items: flex-start;
  }
  .ttl {
    text-align: start;
  }
  .text-article {
    margin: 0;
    flex-basis: calc((100% - 24px) / 2);
  }
}
@media screen and (max-width: 1157.98px) {
  .text-icons {
    display: none;
  }
}
@media screen and (min-width: 1158px) {
  .text-section {
    padding: 120px 0;
  }
  .text-list {
    flex-direction: row;
    gap: 24px;
  }
  .text-article {
    flex-basis: calc((100% - 72px) / 4);
    margin-bottom: 0;
  }

  .ttl {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .text {
    font-weight: 400;
  }
}

/* Third section */

.tech-section {
  padding-bottom: 120px;
}
.tittle {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.tech-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.tech-item {
  flex-basis: calc((100% - 3 * 16px) / 3);
}

@media screen and (max-width: 1157.99px) {
  .tech-section {
    display: none;
  }
}

/* Fourth section */

.prof-section {
  background-color: var(--cloud);
  padding: 96px 0;
  margin-bottom: 72px;
}
.tittle {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-card-item {
  background-color: #ffffff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.card-description {
  padding: 32px 0;
}
.team-card {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
.prof-name {
  color: var(--navy-blue);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.text-spot {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.team {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.icon-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-link:hover,
.icon-link:focus {
  background-color: #404bbf;
}
.team-card-list-icon {
  fill: var(--cloud);
}
.team-card-icon {
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .team-card {
    gap: 64px 24px;
    margin: 0;
    justify-content: center;
    flex-direction: row;
  }
  .team-card-item {
    max-width: 264px;
    flex-basis: calc((100% - 1 * 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .prof-section {
    padding: 120px 0;
  }
  .team-card-item {
    flex-basis: calc((100% - 72px) / 4);
  }
}

/* Customers section */

.customers-section {
  padding: 96px 0;
}
.customers-list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.logo-icon {
  fill: currentColor;
}
.custom-list-item {
  width: calc((100% - 16px) / 2);
  height: 88px;
}
.custom-list-item .link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
}
.custom-list-item .link:hover,
.custom-list-item .link:focus {
  border-color: #404bbf;
  color: #404bbf;
}
.custom-link {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .customers-list {
    gap: 24px;
  }
  .custom-list-item {
    flex-basis: calc((100% - 2 * 24px) / 3);
  }
}
@media screen and (min-width: 1158px) {
  .customers-section {
    padding: 120px 0;
  }
  .custom-list-item {
    width: calc((100% - 120px) / 6);
    height: 88px;
  }
}

/* Button Section Portfolio */

.portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}
.filter-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 48px;
  margin-bottom: 72px;
}
.filter-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris);
  cursor: pointer;
  min-width: 69px;
  min-height: 48px;
  display: flex;
  padding: 12px 24px;
  gap: 24px;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid var(--cornflower);
  background-color: var(--cloud);
  transition: color var(--transition-settings),
    background-color var(--transition-settings),
    border-color var(--transition-settings),
    box-shadow var(--transition-settings);
}
.filter-btn:hover,
.filter-btn:focus {
  background-color: #404bbf;
  color: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.filter-list .filter-item {
  margin-right: 24px;
}
/* Picture List Section */

.card-list-item {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.card-list {
  background: var(--white);
}
.portfolio-section .card-overlay {
  position: relative;
  overflow: hidden;
}
.portfolio-section .card-overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  color: var(--cloud);
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  transition: transform var(--transition-settings);
}
.portfolio-section .card-list .link:hover .card-overlay-text,
.portfolio-section .card-list .link:focus .card-overlay-text {
  transform: translateY(0%);
}
.portfolio-section .card-list-item .link:hover,
.portfolio-section .card-list-item .link:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.portfolio-section .card-list-item .link {
  position: relative;
  display: block;
  transition: box-shadow var(--transition-settings);
}
.card-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.text {
  color: var(--slate);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .filter-list {
    justify-content: center;
  }
  .card-list {
    flex-basis: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .card-list {
    flex-basis: calc((100% - 48px) / 3);
  }
}

/* Footer section */

.ftr {
  margin: 0 auto;
  padding: 100px 0;
  background-color: var(--navy-blue);
  flex-direction: column;
  display: flex;
}

.ftr .container {
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.web {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
  display: inline-block;
  margin-bottom: 16px;
}
.studio-link {
  color: #f4f4fd;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.text-footer {
  color: var(--cloud);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}

.container-box {
  margin-right: 120px;
}

.social-media {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}
.footer-list {
  display: flex;
  gap: 16px;
}
.footer .link {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #f4f4fd;
  background-color: var(--iris);
  padding: 8px;
  transition: background-color var(--transition-settings);
}
.footer-icon {
  fill: currentColor;
}
.footer-icon:hover,
.footer-icon:focus {
  background-color: var(--green);
}
.footer-icon-item {
  width: 40px;
  height: 40px;
}
.footer-icon-item .link {
  width: 100%;
  height: 100%;
}
.footer-form {
  margin-left: 80px;
}
.label-footer {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
}
.footer-form-tag {
  display: flex;
  gap: 24px;
  align-items: baseline;
}
.footer-label {
  display: flex;
  align-items: flex-end;
}
.input-footer::placeholder {
  color: var(--white, #fff);
}
.input-footer {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid var(--white, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  width: 264px;
  color: var(--white, #fff);
  height: 40px;
}
.footer-button-form {
  display: flex;
  border: none;
  min-width: 16px;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--iris, #4d5ae5);
  color: var(--white, #fff);
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
}
.telefram-icon {
  margin-left: 16px;
  fill: var(--white);
}
