:root {
  --navy-blue: #2e2f42;
  --navyblue-modal: rgba(46, 47, 66, 0.4);
  --iris: #4d5ae5;
  --white: #ffffff;
  --cloud: #f4f4fd;
  --slate: #434455;
  --light-slate: #8e8f99;
  --ocean: #404bbf;
  --cornflower: #e7e9fc;
  --daily: #fcfcfc;
  --green: #31d0aa;
  --transition-settings: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
.body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.tech-item img {
  display: block;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  list-style-type: none;
  padding-left: 0;
}
.social-icons {
  fill: currentColor;
}
img {
  display: block;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* common style */

.container {
  max-width: 426px;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
    padding: 0 15px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
  }
}

/* Main dark section */

.dark-section {
  max-width: 428px;
  padding: 112px 0;
  margin: 0 auto;
  text-align: center;

  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Dark-bg\ 1px\ app.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.ttl_one {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 320px;
  margin: 0 auto 72px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  cursor: pointer;
  border: none;
  color: #ffffff;
  background-color: #4d5ae5;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .dark-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg\ 2px\ app.jpg);
  }
}
@media screen and (min-width: 768px) {
  .dark-section {
    max-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg\ 1px\ tablet.jpg);
  }
}
.ttl_one {
  max-width: 496px;
  margin: 0 auto 36px;
  font-size: 56px;
  line-height: 1.07;
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .dark-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg\ 2\ px\ tablet.jpg);
  }
}

@media screen and (min-width: 1158px) {
  .dark-section {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office\ 1px\ desktop.jpg);
  }
}
.ttl_one {
  margin: 0 auto 48px;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .dark-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office\ 2px\ desktop.jpg);
  }
}

/* Second section */

.container {
  max-width: 426px;
  padding: 0 15px;
  margin: 0 auto;
}

.text-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 72px;
}
.text-section {
  padding: 72px 0;
}

.ttl {
  max-width: 396px;
  font-size: 36px;
  line-height: 40px; /* 111.111% */
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  text-transform: capitalize;
  gap: 8px;
}
.text {
  color: var(--slate);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .text-section {
    padding: 72px 0;
  }
}
.container {
  max-width: 766px;
  margin: 0 auto;
}

.ttl {
  width: 356px;
}
@media screen and (min-width: 1158px) {
  .text-section {
    padding: 120px 0;
  }
}
.container {
  max-width: 1158px;
  margin: 0 auto;
}
.text-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.text-icons {
  display: none;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  background-color: var(--cloud);
  border-radius: 4px;
  margin-bottom: 8px;
}
.text-article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 24px;
  justify-content: center;
}
.ttl {
  justify-content: center;
  max-height: 264px;
  font-size: 20px;
  line-height: 1.2;
  gap: 8px;
}
.text {
  font-weight: 400;
  line-height: 1.5;
  gap: 8px;
}
